.link {
  color: black;
}
.link:hover {
  color: #71BC42;
}
#close {
  color: black;
}
#close:hover {
  color: rgb(255, 0, 0);
}

.firstDiv {
	margin-left:0;
	clear:left;
	height:620px;
	display:inline-block;
	float:left;
	list-style:none;
	width : 20%;
	border-right: 1px solid gray;
}

.clubDiv {
	height:620px;
	display:inline-block;
	float:left;
	list-style:none;
	width : 20%;
	border-right: 1px solid gray;
}

.lastDiv {
	height:620px;
	display:inline-block;
	float:left;
	list-style:none;
	width : 20%;
}

.clubTable{
	border : 0;
	height:100%;
	text-align : center;
}

.clubTable tr,td{
	border : 0;
}
.pad{
	height:15%;
}
.clubTable .clubName{
	font-size : 25px;
}
.myClubEmb{
	width:auto;
	max-height:265px;
}











