@charset "UTF-8";
/** LAYOUT **/
body.fixed-scroll { position: fixed; left: 0; right: 0; overflow: hidden; }

.musinsa-wrapper { min-width: 320px; }

.musinsa-header { text-align: center; position: relative; z-index: 500; }
.musinsa-header .tit { font-family: 'Gulim','Apple SD Gothic',Auto,sans-serif !important; font-size: 16px; line-height: 30px; color: #ffffff; font-weight: bold; text-align: center; padding: 10px 0; margin: 0 90px; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.musinsa-header .tit .btn-info { display: inline-block; width: 30px; height: 30px; padding: 4px; box-sizing: border-box; vertical-align: top; position: relative; }
.musinsa-header .tit .btn-info > i { vertical-align: top; }
.musinsa-header .tit.hidden { height: 30px; overflow: hidden; text-indent: -9999px; }
.musinsa-header .tit.large { font-size: 20px; }
.musinsa-header.header-sub { height: 50px; }
.musinsa-header.header-sub .util-area { background-color: #000000; position: fixed; left: 0; right: 0; top: 0; z-index: 500; -webkit-transition: transform 0.15s ease-in-out; -moz-transition: transform 0.15s ease-in-out; -o-transition: transform 0.15s ease-in-out; transition: transform 0.15s ease-in-out; }
.musinsa-header.header-brand .tit > svg { width: auto !important; height: 24px !important; vertical-align: middle; }
.musinsa-header .util { position: absolute; top: 5px; }
.musinsa-header .util.left { left: 5px; }
.musinsa-header .util.right { right: 5px; }
.musinsa-header .util .btn { height: auto; color: #ffffff; line-height: 0; float: left; position: relative; padding: 5px; border: none; }
.musinsa-header .util .n-badge { background-color: #0078ff; position: absolute; right: 2px; top: 20px; }
.musinsa-header .util .link { float: left; font-size: 15px; color: #777777; line-height: 30px; padding: 5px; }
.musinsa-header .util .tooltip { height: 16px; line-height: 16px; padding: 9px 30px 7px 10px; background-color: #0078ff; font-size: 11px; color: #ffffff; white-space: nowrap; border-radius: 4px; position: absolute; left: 5px; top: 39px; }
.musinsa-header .util .tooltip:before { content: ""; display: block; width: 6px; height: 6px; background-color: #0078ff; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; left: 52px; top: -3px; }
.musinsa-header .util .tooltip > button { position: absolute; right: 8px; top: 9px; }
.musinsa-header .util .tooltip > button > i { vertical-align: top; }
.musinsa-header.header-static .util-area { position: static; }

.musinsa-floating { height: 60px; position: relative; height: calc(env(safe-area-inset-bottom) + 60px); height: calc(constant(safe-area-inset-bottom) + 60px); }
.musinsa-floating .direct { background-color: #000000; overflow: hidden; position: fixed; left: 0; right: 0; bottom: 0; z-index: 498; padding-bottom: env(safe-area-inset-bottom); padding-bottom: constant(safe-area-inset-bottom); }
.musinsa-floating .direct > a { display: block; width: 20%; height: 60px; font-size: 10px; color: #ffffff; font-weight: bold; line-height: 16px; text-align: center; float: left; position: relative; }
.musinsa-floating .direct > a > i, .musinsa-floating .direct > a > .ic-home { display: block; margin: 15px auto; }
.musinsa-floating .util { position: fixed; bottom: 80px; z-index: 495; bottom: calc(env(safe-area-inset-bottom) + 80px); bottom: calc(constant(safe-area-inset-bottom) + 80px); }
.musinsa-floating .util.left { left: 10px; }
.musinsa-floating .util.right { right: 10px; }
.musinsa-floating .util a, .musinsa-floating .util button { display: block; width: 40px; height: 40px; color: #ffffff; padding: 5px; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.4); border-radius: 100%; margin-top: 14px; }
.musinsa-floating .util a .ic-30-stencil-share, .musinsa-floating .util button .ic-30-stencil-share { margin-left: -1px; }
.musinsa-floating .util a.btn-recent, .musinsa-floating .util button.btn-recent { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; overflow: hidden; text-indent: -9999px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); position: relative; }
.musinsa-floating .util a.btn-recent:before, .musinsa-floating .util button.btn-recent:before { content: ""; display: block; width: 100%; height: 100%; border-radius: 100%; background-color: #000000; opacity: .1; position: absolute; left: 0; top: 0; z-index: 1; }
.musinsa-floating .filter { width: 160px; height: 40px; border-radius: 20px; position: fixed; left: 50%; bottom: 80px; margin-left: -80px; z-index: 495; bottom: calc(env(safe-area-inset-bottom) + 80px); bottom: calc(constant(safe-area-inset-bottom) + 80px); box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); }
.musinsa-floating .filter .btn { width: 50%; height: 100%; background-color: #ffffff; font-size: 14px; color: #545454; font-weight: bold; text-align: center; float: left; }
.musinsa-floating .filter .btn > i { display: none; margin-top: -2px; }
.musinsa-floating .filter .btn.btn-wusinsa { border-radius: 20px 0 0 20px; }
.musinsa-floating .filter .btn.btn-wusinsa > i { margin-right: 6px; }
.musinsa-floating .filter .btn.btn-mensinsa { border-radius: 0 20px 20px 0; }
.musinsa-floating .filter .btn.btn-mensinsa > i { margin-left: 6px; }

.musinsa-floating.version-2019 .direct > a { width: 16.66%; }
.musinsa-floating.version-2019 .direct > a > .noti { display: none; width: 4px; height: 4px; background-color: #0078ff; border-radius: 100%; overflow: hidden; text-indent: -9999px; position: absolute; left: 50%; top: 8px; margin-left: 9px; }
.musinsa-floating.version-2019 .direct > a.new > .noti { display: block; }
.musinsa-floating.version-2019 .direct > a > i { margin: 6px auto 1px auto; }
.musinsa-floating.version-2019 .util .btn-channel { height: 40px; line-height: 37px; padding-top: 3px; text-align: center; font-family: 'Musinsa',sans-serif; font-weight: 300; font-size: 17px; position: relative; z-index: 1; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out; }
.musinsa-floating.version-2019 .util .btn-channel.hide { position: absolute; left: 0; top: 0; z-index: 0; opacity: 0; -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
.musinsa-floating.version-2019 .util .btn-channel.hide.musinsa, .musinsa-floating.version-2019 .util .btn-channel.musinsa.is-active { background-color: #000000; }
.musinsa-floating.version-2019 .util .btn-channel.hide.wusinsa, .musinsa-floating.version-2019 .util .btn-channel.wusinsa.is-active { background-color: #585c89; }
.musinsa-floating.version-2019 .util .btn-channel.is-active + .hide { opacity: 1; -webkit-transform: translateY(-54px); -moz-transform: translateY(-54px); -o-transform: translateY(-54px); transform: translateY(-54px); }

.n-layer-app { background-color: #ffffff; box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); position: fixed; left: 0; right: 0; bottom: 60px; z-index: 497; opacity: 0; -webkit-transform: translateY(200px); -moz-transform: translateY(200px); -o-transform: translateY(200px); transform: translateY(200px); -webkit-transition: opacity 0.2s, transform 0.4s ease-in-out; -moz-transition: opacity 0.2s, transform 0.4s ease-in-out; -o-transition: opacity 0.2s, transform 0.4s ease-in-out; transition: opacity 0.2s, transform 0.4s ease-in-out; bottom: calc(env(safe-area-inset-bottom) + 60px); bottom: calc(constant(safe-area-inset-bottom) + 60px); }
.n-layer-app.is-active { opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
.n-layer-app > a { display: block; padding: 8px calc((100% - 300px) / 2); font-size: 13px; line-height: 16px; }
.n-layer-app > a > img { width: 40px; float: left; margin-right: 14px; }
.n-layer-app > a > span { display: block; margin: 4px 0 1px 0; }
.n-layer-app .close { display: block; width: 30px; height: 30px; color: #ccc; position: absolute; right: 2px; top: 2px; }

.e-random-layer:not(.version-2019) { min-width: 320px; position: fixed; left: 10px; right: 10px; bottom: 80px; z-index: 496; opacity: 0; -webkit-transform: translateY(200px); -moz-transform: translateY(200px); -o-transform: translateY(200px); transform: translateY(200px); -webkit-transition: opacity 0.2s, transform 0.4s ease-in-out; -moz-transition: opacity 0.2s, transform 0.4s ease-in-out; -o-transition: opacity 0.2s, transform 0.4s ease-in-out; transition: opacity 0.2s, transform 0.4s ease-in-out; bottom: calc(env(safe-area-inset-bottom) + 80px); bottom: calc(constant(safe-area-inset-bottom) + 80px); }
.e-random-layer:not(.version-2019).is-active { opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
.e-random-layer:not(.version-2019) > a { display: block; height: 80px; background-color: #383838; border-radius: 4px; overflow: hidden; position: relative; padding-left: 92px; }
.e-random-layer:not(.version-2019) > a:after { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.e-random-layer:not(.version-2019) > a > img { width: 80px; height: 80px; position: absolute; left: 0; top: 0; }
.e-random-layer:not(.version-2019) > a > div { display: inline-block; width: calc(100% - 42px); font-size: 12px; padding-bottom: 3px; color: #aaaaaa; vertical-align: middle; }
.e-random-layer:not(.version-2019) > a > div strong { font-size: 14px; color: #ffffff; word-break: keep-all; }
.e-random-layer:not(.version-2019) > a > div strong > span { color: #14aaff; white-space: nowrap; }
.e-random-layer:not(.version-2019) .btn-close { padding: 5px; position: absolute; right: 5px; top: 5px; }

.e-random-layer.version-2019 { position: fixed; left: 10px; right: 10px; bottom: 70px; z-index: 496; opacity: 0; -webkit-transform: translateY(200px); -moz-transform: translateY(200px); -o-transform: translateY(200px); transform: translateY(200px); -webkit-transition: opacity 0.2s, transform 0.4s ease-in-out; -moz-transition: opacity 0.2s, transform 0.4s ease-in-out; -o-transition: opacity 0.2s, transform 0.4s ease-in-out; transition: opacity 0.2s, transform 0.4s ease-in-out; bottom: calc(env(safe-area-inset-bottom) + 70px); bottom: calc(constant(safe-area-inset-bottom) + 70px); }
.e-random-layer.version-2019.is-active { opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
.e-random-layer.version-2019 > a { display: block; background-color: #383838; border-radius: 4px; overflow: hidden; position: relative; padding: 13px 38px 13px 74px; }
.e-random-layer.version-2019 > a > img { width: 64px; height: 64px; position: absolute; left: 0; top: 0; }
.e-random-layer.version-2019 > a > strong { display: block; font-size: 14px; line-height: 20px; color: #ffffff; font-weight: bold; white-space: nowrap; }
.e-random-layer.version-2019 > a > strong > span { color: #14aaff; }
.e-random-layer.version-2019 > a > div { font-size: 12px; line-height: 18px; color: #999; white-space: nowrap; }
.e-random-layer.version-2019 .btn-close { padding: 5px; position: absolute; right: 5px; top: 5px; }

.n-layer-notice { display: none; min-width: 260px; max-width: 400px; box-sizing: border-box; border: 1px solid #000000; background-color: #ffffff; padding-top: 15px; font-size: 14px; line-height: 21px; word-break: keep-all; position: fixed; left: 30px; right: 30px; top: 60px; z-index: 2020; margin: 0 auto; }
.n-layer-notice.is-active { display: block; }
.n-layer-notice .tit { display: block; font-family: 'Musinsa',sans-serif !important; font-size: 20px; line-height: 28px; font-weight: normal; margin-bottom: 10px; }
.n-layer-notice strong { color: #ff0000; font-weight: normal; }
.n-layer-notice > div { max-height: 365px; padding: 0 15px; overflow: auto; }
.n-layer-notice .close { margin-top: 15px; padding: 15px 15px 11px 15px; border-top: 1px solid #f5f5f5; overflow: hidden; }
.n-layer-notice .close .btn { display: block; font-size: 14px; line-height: 21px; color: #777777; }
.n-layer-notice .close .btn.btn-today { float: left; }
.n-layer-notice .close .btn.btn-close { float: right; }

@media (max-height: 470px) { .musinsa-floating, .n-layer-app { display: none; } }
@media (max-width: 359px) { .musinsa-floating, .n-layer-app { display: block; } }
@keyframes slideCategory { 0% { left: -100%; }
  100% { left: 0; } }
/* 전역필터 개발로 인한 삭제
.musinsa-category{width:320px;background-color:$white;position:fixed;left:-100%;top:0;bottom:0;z-index:9999;
	&.is-active{left:0;@include animation(slideCategory .15s both)}
	.btn-close{padding:5px;position:absolute;position:absolute;left:5px;top:5px}
	.ui-tab-btn{height:50px;background-color:$black;padding-top:50px;
		> a{width:33.3333%;height:50px;display:block;font-size:16px;line-height:50px;color:$default;text-align:center;float:left;
			span{display:inline-block;width:100%;height:48px;border-bottom:3px solid transparent}
		}
		> a.is-active{border-color:$white;color:$white;padding-bottom:1px;font-weight:bold;
			span{border-bottom:2px solid $white}
		}
	}
	.ui-tab-cont{display:block; overflow:hidden; overflow-y:auto;-webkit-overflow-scrolling:touch;position:absolute;left:0;right:0;top:100px;bottom:0;

	}

	// Category
	.category-menu{padding:10px 0;
		a,
		button{display:block;width:100%;height:50px;box-sizing:border-box;font-weight:bold;font-size:14px;line-height:50px;text-align:left;padding:0 15px}
		button{
			i{float:right;height:50px;line-height:50px}
		}
		a.is-focus,
		button.is-focus{color:$primary !important}
		.menu{
			> a,
			> button{color:#333}
			ul a,
			ul button{padding:0 30px}
			ul a{height:40px;font-weight:normal;line-height:40px;vertical-align:middle;
				> span{font-weight:500;font-size:12px;vertical-align:top;color:$lighter;margin-left:5px}
			}
			ul{display:none;padding-top:5px;padding-bottom:5px;background-color:#f9f9f9}
			&.is-active{
				button{
					i{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
				}
				ul{display:block}
			}
			&:last-child{
				&.is-active{
					ul{margin-bottom:-10px}
				}
			}
		}
		.menu-campaign{position:relative;
			&:before{content:"";display:block;width:50px;background:linear-gradient(to right,rgba(255,255,255,0),$white);position:absolute;right:0;top:0;bottom:0}
			> ul{padding:0 7px;white-space:nowrap;overflow:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;
				li{display:inline-block;margin:0 2px}
				a{display:inline-block;font-weight:bold;padding:0 6px}
			}
			.none{font-size:14px;color:$lighter;line-height:44px;padding:0 15px}
		}
		&.category-menu-img{padding:15px 0;
			.menu{
				&.is-active{
					ul{margin-top:5px;margin-bottom:5px}
				}
				&:last-child{
					&.is-active{
						ul{margin-bottom:-15px}
					}
				}
			}
			button{position:relative;height:65px;padding:5px 10px 5px 15px;
				.img-block{float:left;width:55px;padding-top:55px;background-color:$bg;border-radius:2px;
					img{mix-blend-mode:multiply}
				}
				.info{display:flex;flex-direction:column;height:100%;padding-left:15px;vertical-align:middle;font-weight:bold;line-height:normal;
					div{margin:auto 0}
					span{display:block;margin-top:3px;color:$lighter;font-weight:500;font-size:12px}
				}
				i{height:55px;margin-top:-55px;line-height:55px}
			}
		}
		&.non-toggle{
			.menu{
				&.is-active{
					button{
						i{-webkit-transform:rotate(0);transform:rotate(0)}
					}
				}
			}
		}
	}

	// Brand
	.category-selectshop{padding:15px 0;border-bottom:1px solid $border;margin-bottom:5px;
		.tit{padding:0 15px;font-weight:normal}
		.shops{white-space:nowrap;overflow:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;padding:0 7px 5px 7px;margin-top:10px;
			> a{display:inline-block;width:50px;height:33px;overflow:hidden;margin:0 8px;
				> img{width:100%;vertical-align:middle}
				&:after{content:"";display:inline-block;width:0;height:100%;vertical-align:middle}
			}
		}
	}
	.n-list-filter{border-top:0}
	.n-list-brand{padding-bottom:10px}
	.n-loading-icon{padding:150px 0}

	.category-top-log{position:absolute;top:5px;right:5px;color:$white;font-size:14px;
		a{display:inline-block;padding:5px;line-height:30px}
		i{margin-left:2px}
		.user-nm{font-weight:bold;font-size:16px;
			+ i{font-size:12px;font-style:normal}
		}
	}
	.app-btn-box{margin-top:-50px;padding-top:16px;padding-bottom:14px;border-top:1px solid #f9f9f9;
		&:after{clear:both;display:block;content:""}
		a{float:left;display:block;width:85px;margin-left:5px;padding:83px 0 10px;box-sizing:border-box;text-align:center;background-position:50% 10px;background-size:65px;background-repeat:no-repeat;color:$default;font-size:11px;line-height:13px;
			&.musinsa{background-image:url(https://m.store.musinsa.com/skin/m_musinsa/images/app_musinsa.png?2020)}
			&.wusinsa{background-image:url(https://m.store.musinsa.com/skin/m_musinsa/images/app_wusinsa.png?2020)}
			&.player{background-image:url(https://m.store.musinsa.com/skin/m_musinsa/images/app_player.png?2020)}
		}
	}
}
*/
.n-list-brand li { margin-top: 10px; position: relative; }
.n-list-brand li:first-child { margin-top: 0; }
.n-list-brand li > a { display: block; padding: 5px 15px; line-height: 18px; margin-right: 100px; }
.n-list-brand li > a .brand { display: inline-block; font-size: 14px; margin-bottom: 2px; }
.n-list-brand li > a .lang, .n-list-brand li > a .count { display: inline-block; font-size: 12px; color: #999; }
.n-list-brand li > a .count { font-family: 'Musinsa',sans-serif !important; }
.n-list-brand li > a .count.new { color: #0078ff; }
.n-list-brand li .btn-heart { padding: 0 15px; font-family: 'Musinsa',sans-serif !important; font-size: 12px; color: #999; position: absolute; right: 0; top: 0; bottom: 0; z-index: 1; }
.n-list-brand li .btn-heart.is-active { color: #ff0000; }
.n-list-brand li .n-label { height: 15px; margin-top: -3px; margin-left: 1px; padding: 3px 3px 0; border-radius: 2px; box-sizing: border-box; font-weight: bold; font-size: 9px; line-height: 10px; font-style: normal; }
.n-list-brand.en li > a .brand { font-family: 'Musinsa',sans-serif !important; font-weight: normal; }
.n-list-brand.ko li > a .lang { font-family: 'Musinsa',sans-serif !important; }

.musinsa-footer { position: relative; z-index: 1; background-color: #111; border-top: 10px solid #f1f1f1; text-align: center; padding: 36px 0 136px 0; }
.musinsa-footer .footer-info-btn { display: inline-block; padding: 10px; font-family: 'Musinsa',sans-serif !important; color: #eee; }
.musinsa-footer .footer-info-btn > i { vertical-align: top; margin-top: -1px; }
.musinsa-footer .footer-info-btn.is-active + .footer-info-view { display: block; }
.musinsa-footer .footer-info-view { display: none; font-size: 12px; color: #aaaaaa; overflow: hidden; margin: 5px 0 10px 0; }
.musinsa-footer .footer-info-view > dl { margin-top: 3px; }
.musinsa-footer .footer-info-view > dl.ceo { display: inline-block; margin: 0 0 0 6px; }
.musinsa-footer .footer-info-view > dl dt, .musinsa-footer .footer-info-view > dl dd { display: inline-block; }
.musinsa-footer .footer-info-view > dl dt { color: #ccc; font-weight: bold; }
.musinsa-footer .footer-info-view > dl .link { display: inline-block; text-decoration: underline; }
.musinsa-footer .footer-info-view > div { color: #ffffff; margin-top: 5px; }
.musinsa-footer .footer-link { padding: 5px 0 3px 0; }
.musinsa-footer .footer-link > a { display: inline-block; color: #eee; padding: 5px; position: relative; }
.musinsa-footer .footer-link > a > span { display: block; width: 4px; height: 4px; border-radius: 100%; background-color: #0078ff; position: absolute; right: 1px; top: 3px; overflow: hidden; text-indent: -9999px; }
.musinsa-footer .footer-clause > a { display: inline-block; padding: 5px; color: #eee; margin: 0 3px; }
.musinsa-footer .footer-clause > a > strong { color: #ffffff; }
.musinsa-footer .footer-clause > span { display: inline-block; width: 1px; height: 10px; background: rgba(213, 213, 213, 0.2); overflow: hidden; text-indent: -9999px; vertical-align: top; margin-top: 16px; }
.musinsa-footer .footer-faq { margin-top: 30px; }
.musinsa-footer .footer-faq > a { display: inline-block; padding: 5px; color: #eee; margin: 0 3px; }
.musinsa-footer .footer-faq > a > i { vertical-align: top; margin: 1px 4px 0 0; }
.musinsa-footer .footer-sns { padding-top: 22px; }
.musinsa-footer .footer-sns > a { display: inline-block; width: 32px; height: 32px; padding: 4px; margin: 0 3px; vertical-align: top; }
.musinsa-footer .footer-sns > a > span { display: block; width: 0; height: 0; overflow: hidden; visibility: hidden; position: absolute; }
.musinsa-footer .footer-sns > a > svg { vertical-align: top; }
.musinsa-footer .footer-sns > a > svg .icon { fill: #777; }

.musinsa-wrapper.wrapper-wusinsa .musinsa-header.header-sub .util-area { background-color: #a5a9b9; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-header .util .n-badge { background-color: #585c89; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .ui-tab-btn { background-color: #a5a9b9; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .ui-tab-btn > a { color: #ffffff; opacity: 0.6; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .ui-tab-btn > a.is-active { opacity: 1; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .category-menu a.is-focus, .musinsa-wrapper.wrapper-wusinsa .musinsa-category .category-menu button.is-focus { color: #585c89 !important; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .category-direct { background-color: #f9f9fb; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .menu-campaign { position: relative; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .menu-campaign > ul a { color: #515976 !important; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-category .menu-campaign .none { color: #a5a9b9; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-floating .direct { background-color: #a5a9b9; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-floating .direct > a > .noti { background-color: #585c89; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-floating .filter .btn.btn-wusinsa { background-color: #585c89; color: rgba(255, 255, 255, 0.7); }
.musinsa-wrapper.wrapper-wusinsa .musinsa-floating .filter .btn.btn-wusinsa > i { display: inline-block; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer { background-color: #f2f3f8; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-info-btn { color: #8a8e9e; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-info-view { color: #8a8e9e; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-info-view > dl dt { color: #8a8e9e; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-info-view > div { color: #8a8e9e; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-link > a { color: #8a8e9e; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-link > a > span { background-color: #585c89; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-clause > a { color: #8a8e9e; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-clause > a > strong { color: #8a8e9e; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-faq > a { color: #8A8E9E; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-sns > a > svg .icon { fill: #a5a9b9; }
.musinsa-wrapper.wrapper-wusinsa .musinsa-footer .footer-sns > a.instagram { margin-left: 0; }

.musinsa-wrapper.wrapper-mensinsa .musinsa-header.header-sub .util-area { background-color: #11214a; }
.musinsa-wrapper.wrapper-mensinsa .musinsa-category .ui-tab-btn { background-color: #11214a; }
.musinsa-wrapper.wrapper-mensinsa .musinsa-floating .direct { background-color: #11214a; }
.musinsa-wrapper.wrapper-mensinsa .musinsa-floating .filter .btn.btn-mensinsa { background-color: #11214a; color: rgba(255, 255, 255, 0.7); }
.musinsa-wrapper.wrapper-mensinsa .musinsa-floating .filter .btn.btn-mensinsa > i { display: inline-block; }
.musinsa-wrapper.wrapper-mensinsa .musinsa-footer { background-color: #203365; }
.musinsa-wrapper.wrapper-mensinsa .musinsa-footer .footer-sns > a > svg .icon { fill: #eee; }

.musinsa-wrapper.wrapper-player .musinsa-header.header-sub .util-area { background-color: #3b3bfd; }
.musinsa-wrapper.wrapper-player .musinsa-header .util .n-badge { background-color: #F70D1A; font-family: 'Musinsa',sans-serif !important; font-weight: bold; }
.musinsa-wrapper.wrapper-player .musinsa-category .ui-tab-btn { background-color: #3b3bfd; }
.musinsa-wrapper.wrapper-player .musinsa-category .ui-tab-btn > a { color: #ffffff; }
.musinsa-wrapper.wrapper-player .musinsa-category .ui-tab-btn > a.is-active { color: #3b3bfd; }
.musinsa-wrapper.wrapper-player .musinsa-category .category-menu a.is-focus, .musinsa-wrapper.wrapper-player .musinsa-category .category-menu button.is-focus { color: #3b3bfd !important; }
.musinsa-wrapper.wrapper-player .musinsa-category .category-direct { background-color: #f9f9fb; }
.musinsa-wrapper.wrapper-player .musinsa-category .menu-campaign { position: relative; }
.musinsa-wrapper.wrapper-player .musinsa-category .menu-campaign > ul a { color: #3b3bfd !important; }
.musinsa-wrapper.wrapper-player .musinsa-category .menu-campaign .none { color: #aaaaaa; }
.musinsa-wrapper.wrapper-player .musinsa-floating .direct { background-color: #ffffff; }
.musinsa-wrapper.wrapper-player .musinsa-floating .direct > a { color: #3b3bfd; }
.musinsa-wrapper.wrapper-player .musinsa-floating .direct > a > .noti { background-color: #3b3bfd; }
.musinsa-wrapper.wrapper-player .musinsa-footer { background-color: #3b3bfd; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-info-btn { color: #ffffff; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-info-view { color: #f9f9f9; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-info-view > dl dt { color: #f9f9f9; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-info-view > div { color: #f9f9f9; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-link > a { color: #f9f9f9; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-link > a > span { background-color: #33B9B9; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-clause > a { color: #f9f9f9; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-clause > a > strong { color: #ffffff; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-clause > span { background: rgba(213, 213, 213, 0.2); }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-faq > a { color: #f9f9f9; }
.musinsa-wrapper.wrapper-player .musinsa-footer .footer-sns > a > svg .icon { fill: #ffffff; }