<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mybatis.BoardDAOImpl">
  
  	<!-- 리스트 : 게시물 갯수 카운트 -->
  	<select id="listPageCount" resultType="int" parameterType="mybatis.ParameterDTO">
  		select count(*) from board
  		<if test="searchTxt!=null and !searchTxt.equals('')">
  			where ${searchField} like '%' || #{searchTxt}||'%'
  		</if>
  	</select>
  	
  	<!-- 리스트 -->
  	<select id="listPage" resultType="mybatis.BoardDTO" parameterType="mybatis.ParameterDTO">
  		select * from (select Tb.*, rownum rNum
  		from(
  			select * from board
  			<if test="searchTxt!=null and !searchTxt.equals('')">
  				where ${searchField} like '%' ||#{{searchTxt}'%'
  			</if>
  			order by b_idx desc
  		) Tb
  	)where rNum between #{start} and #{end}
  	</select>
  	
  	<!-- 상세보기 -->
  	<select id="view" resultType="mybatis.BoardDTO" parameterType="mybatis.ParameterDTO">
  		select * from board where idx=#{board_idx} and id=#{user_id}
  	</select>
  	
  	<!-- 큐엔에이 작성 -->
  	<insert id="write">
  		insert into board (b_idx, b_title, b_content, b_id, b_postdate, b_bname)
  		values
  		(board_seq.nextval, #{b_id}, #{b_title}, sysdate, #{b_content}, #{b_bname});
  	</insert>
  	
  	
  	<!-- 삭제 -->
  	<delete id="delete">
  		delete from board where idx=#{param1} and id=#{param2}
  	</delete>
  </mapper>