<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mybatis.MemberDAOImpl">

   <!-- 회원가입 --> 
	  <insert id="memberJoin" parameterType="mybatis.MemberDTO">  
		  insert into member (m_idx, m_id, m_pw, m_name, m_birth, m_sex, m_email, m_phone, m_addr, m_date, m_position,  m_abil, m_foot, m_pic, AUTHORITY) values( 
		  	member_seq.nextval, #{m_id}, #{m_pw}, #{m_name}, #{m_birth}, #{m_sex}, #{m_email}, #{m_phone},
		  	#{m_addr}, sysdate, #{m_position}, #{m_abil}, #{m_foot}, #{m_pic}, default) 
	  </insert> 
	  
	  <select id="naverSuccess" parameterType="mybatis.MemberDTO" resultType="int">
	  		select count(*) from member where m_id = #{m_id}
	  </select>
	  
	  <select id="kakaoSuccess" parameterType="mybatis.MemberDTO" resultType="int">
	  		select count(*) from member where m_id = #{m_id}
	  </select>
	   
	  <select id="memberInfo" resultType="mybatis.MemberDTO" parameterType="mybatis.MemberDTO">
	  	select * from member where m_id = #{m_id}
	  </select>
	  
	  <update id="memberUpdate" parameterType="mybatis.MemberDTO">
	  	update member set m_pw=#{m_pw}, m_name=#{m_name}, m_birth=#{m_birth}, m_email=#{m_email}, m_phone=#{m_phone}, 
	  		m_addr=#{m_addr}, m_position=#{m_position}, m_sex=#{m_sex}, m_abil=#{m_abil}, m_foot=#{m_foot}, m_pic=#{m_pic} 
	  		where m_id=#{m_id} 
	  </update>
	  
	  <!-- 안드로이드 로그인 검사 -->
	  <select id="memberLogin" resultType="mybatis.MemberDTO" parameterType="mybatis.MemberDTO">
		select * from  member 
		where m_id = #{m_id} and m_pw=#{m_pw}
	  </select>
	  
	  <!-- 안드로이드 토큰 업데이트 -->
	  <update id="tokenUpdate" parameterType="mybatis.MemberDTO">
		update member set m_token = #{m_token} where m_id = #{m_id} and m_pw=#{m_pw}
	  </update>
	  
	  <!-- 안드로이드 토큰 가져오기 -->
	  <select id="getMemberTokens" resultType="mybatis.MemberDTO">
	  	select m.m_token
	  	from member m inner join clubmember cm
	  		on m.m_id = cm.m_id
	  	where c_idx = #{c_idx}
	  </select>
	  
	
	<!-- id찾기 -->
	<select id="id_mailSending" parameterType="mybatis.MemberDTO" resultType="String">
		select m_id from member where m_name like #{m_name} and m_email like #{m_email}
	</select>
	
	<!-- pw찾기 -->
	<select id="pw_mailSending" parameterType="mybatis.MemberDTO" resultType="String">
		select m_pw from member where m_id like #{m_id} and m_email like #{m_email}
	</select>
	
	<!-- 마이페이지 Ball 보유량 -->
	<select id="ballHistory" resultType="int">
		select cash 
		from member 
		where m_id = #{param1}
	</select>
	
	<!-- 마이페이지 Ball 거래내역 -->
	<select id="ballList" resultType="mybatis.MemberDTO">
		select *
		from cash
		where m_id = #{param1} order by cs_date desc
	</select>
      
  </mapper>

