<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mybatis.CashDAOImpl">

	<!-- 
		Ball 충전 insert문 
		- 충전하면 insert되기 때문에 cs_type은 'charge'로 고정시킴.
	-->
	<insert id="ballResult" parameterType="mybatis.CashDTO">
		insert into cash (cs_idx, m_id, cs_money, cs_type, cs_date)  
			 values(cash_seq.nextval, #{m_id}, #{cs_money}, 'charge' , to_char(sysdate, 'yyyy/mm/dd (hh24"시" mi"분" ss"초")'))
	</insert>
	    
	<!-- Ball 업데이트(누적) -->
	<update id="ballUpdate">
		update member 
		set cash = cash + #{param1} 
		where m_id = #{param2}
	</update>
	
	<!-- Ball 보유현황 가져오기 -->
	<select id="ballCurrent" resultType="int">
		select cash 
		from member 
		where m_id = #{param1}
	</select>
	
	<!-- Ball 구매자 가져오기 -->
	<select id="ballBuyer" resultType="mybatis.MemberDTO">
		<!-- 
			이런 방법도 있다.
				select c.m_id, m.m_name 
				from cash c inner join member m on c.m_id = m.m_id 
				where m.m_id = #{param1} 
		-->
		select * from member where m_id= #{param1} 
		
	</select>
</mapper>  